@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.indexbod {
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    padding: 10%;
    color: white;

}


.indexh1 {
    text-align: left;
    display: flex;
    font-size: 50px;    
    width: 400px;
    margin-left: -30px;

}

p {
    font-size: 16px;
    text-align: left;
    width: 400px;
    font-size: 20px;
    margin-top: -10px;
    margin-left: -30px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-left: -20px;
}

.nav {
    font-size: 18px;
    color: white;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* .logo {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
} */

.portnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    /* grid-template-rows:  */
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: auto;
    margin: 40px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

embed {
    border: 5px solid white;
    margin: 10px;
    padding: 10px;
    background: transparent;
    
}

#porthead {
    color: white;
    text-align: center;
    font-size: 50px;    
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.portbod {
    background: red;
    align-content: center;
}

.aboutmemsg {
    color: white;
    text-align: left;
    font-size: 50px;    
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.aboutmebod {
    background: red;
}

label {
    color: white;
    font-size: 18px;
}