@import "./node_modules/bootstrap/scss/bootstrap.scss";


body { 
    background: red;
    align-content: center;
    margin: auto;
    padding: 10%;
    color: white;
    text-shadow: -.5vh .25vh .5vh rgba(0,0,0,0.3);
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;
}

header {
    font-size: 10vh;
    color: white;
    margin: 20px;
    text-align: center;
}

.indexbod {
    background: red;
    align-content: center;
    margin: auto;
    padding: 10%;
    color: white;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Abhaya Libre', serif;
}


.indexh1 {
    text-align: left;
    font-size: 7vh;    
    width: 400px;
    margin-left: -30px;

}

p {
    font-size: 16px;
    text-align: left;
    width: 400px;
    font-size: 20px;
    margin-top: -10px;
    margin-left: -30px;
    text-shadow: -.25vh .25vh .25vh rgba(0,0,0,0.2);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-left: -20px;
}

.nav {
    font-size: 25px;
    color: white;
    margin: 10px;
}

.portnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


embed {
    border: 5px solid white;
    margin: 5px;
    padding: 5px;
    background: transparent;
    box-shadow: -1vh 1vh 1vh rgba(0,0,0,0.3);
}

#porthead {
    color: white;
    text-align: center;
    font-size: 50px;    
    width: 100%;
}

.portbod {
    background: red;
    align-content: center;
}

.aboutmemsg {
    color: white;
    text-align: left;
    font-size: 50px;    
    width: 100%;
}

.aboutmebod {
    background: red;
}

label {
    color: white;
    font-size: 18px;
}

.col-6 {
  
}

/* .col-12 {
    box-shadow: -.5vh .25vh .5vh rgba(0,0,0,0.3);
} */